# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.iniCritical Transmission/Library/ShaderCache/
Critical Transmission/Library/metadata/
Critical Transmission/Library/
testexe_Data/
*.csproj
testexe.exe
UnityPlayer.dll
Critical Transmission/Assets/PlayerBehaviour.cs.meta
Critical Transmission/Critical Transmission.sln
Critical Transmission/Critical Transmission.userprefs
Critical Transmission/UnityPackageManager/manifest.json
Critical Transmission/crit_trans_test_Data/
*.exe
Critical Transmission/Assets/Standard Assets/Characters/ThirdPersonCharacter/Animation/Scripts.meta
