# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
*.log
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #

.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
*.csproj
/*.meta
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Critical Transmission/Library/
testexe_Data/
Critical Transmission/crit_trans_test_Data/
*.exe
*.log


Critical Transmission/UnityPlayer.dll
Critical Transmission/Critical Transmission.userprefs
Critical Transmission/UnityPackageManager/manifest.json
Critical Transmission/Critical Transmission.sln
Art/Not Textured/Alarm/Alarm.mtl
Art/Not Textured/Alarm/AlarmBaseNormal.tx
Art/Not Textured/Alarm/AlarmBulbNormal.tx
Art/Not Textured/Alarm/alarm.mb
Art/Not Textured/ModularPipes/ModularPipes.mb
Art/Not Textured/ModularPipes/PipeCorner.mtl
Art/Not Textured/ModularPipes/PipeCornerNML.psd
Art/Not Textured/ModularPipes/PipeCurved.mtl
Art/Not Textured/ModularPipes/PipeCurvedNML.psd
Art/Not Textured/ModularPipes/PipeStraight.mtl
Art/Not Textured/ModularPipes/PipeStraightNML.psd
Art/Not Textured/ModularPipes/PipeValve.mtl
Art/Not Textured/ModularPipes/PipeValveNML.psd
Art/Not Textured/Terminal/Terminal.mb
Critical Transmission/test_Data/
